body {
    background: linear-gradient(45deg, mediumseagreen, lightblue)
}

header {
    background: linear-gradient(90deg, mediumspringgreen, darkblue);
    border-bottom: solid 3px lightgrey;
    width: 75%;
    text-align: center;
    margin: auto;

}

h1 {
    font-size: 65px;
    font-family: Cochin;
    letter-spacing: 4px;
    font-style: italic;
    color: lightgrey;

}

h2 {
    font-size: 25px;
    font-family: Calibri;
    letter-spacing: 3px;
    font-weight: bold;
    color: darkgrey;

}

h3 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-style: italic;
    text-decoration: underline;
    color: darkmagenta
}

h4 {
    font-size: 17px;
    font-family: Tahoma;
    font-weight: bold;
    color: darkmagenta
}

h5 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: darkgoldenrod
}

ul {
    list-style-type: none;
}

.container {
    border: solid 3px green;
    padding: 10px;
    margin: 10px;
}

.content {
    border-left: solid 6px darkgreen;
    border-right: solid 6px darkgreen;
    width: 80%;
    margin: auto;
    height: 100%;
    columns: 2;
}

.border {
    border: solid 4px midnightblue;
    margin: 15px;
    padding: 5px;
}

.favorite {
    border: solid 3px gold;
    padding: 10px;
    margin: 10px;
    background-color: silver;
    color: black
}

p {
    text-align: center;
    font-size: 27px;
    color: orchid;
    font-family: Arial, Helvetica, sans-serif
}

.pic {
    height: 150px;
    width: 200px;

}

li {
    margin: 15px;

}

li:hover {
    cursor: pointer;
    background: mediumslateblue
}

.highlight {
    width: 700px;
    height: 400px;
    z-index: 2;
    background-color: blanchedalmond;
    border: dashed 7px mediumpurple;
    position: absolute;
    top: 70%;
    left: 25%;
    text-align: center;
    color: seagreen;
    font-size: 30px;
    padding: 50px 0
}

button {
   
    background-color: green;
    color: white;
    border-radius: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    width: 100px;
    font-size: 18px;
}



.listClass {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

#close {
    position: absolute;
    top: 10%;
    right: 10%;
}

#favorite {
    position: absolute;
    top: 10%;
    left: 10%;
}

button:hover {
    cursor: pointer;
}

.title {
    font-size: 20px;
    color: darkorange;
    font-style: italic;
}